{{> components/halothemes/footer/halo-service}}

{{> components/halothemes/footer/halo-subscribe}}

{{#if banners.bottom}}
    <div class="banners" data-banner-location="bottom">
        {{#each (limit banners.bottom_metadata 1)}}
            <div class="banner" data-event-type="promotion" data-entity-id="{{this.id}}" data-name="{{this.banner-name}}" data-position="{{this.location}}" data-name="{{this.banner-name}}">
                <div data-event-type="promotion-click">
                    {{{this.content}}}
                </div>
            </div>
        {{/each}}
    </div>
{{/if}}
<footer class="footer" role="contentinfo" data-halo-load="animation">
    <h2 class="footer-title-sr-only">{{lang 'footer.title'}}</h2>
    <div class="container container-1600">
        <section class="footer-info">
            {{#if theme_settings.footer_info_1_heading}}
                <article class="footer-info-col footer-info-col--small" data-section-type="footer-categories">
                    <p class="footer-info-heading footer-info-heading--toggle f-bold f-size-small-mb o-h"><span class="d-inline-block halo-fadeInUp">{{theme_settings.footer_info_1_heading}}</span></p>
                    <ul class="footer-info-list">
                        {{#each (limit categories 6)}}
                            <li class="o-h"><a class="link-line d-inline-block halo-fadeInUp" href="{{url}}" data-halo-animate="2"><span>{{name}}</span></a></li>
                        {{/each}}
                    </ul>
                </article>
            {{/if}}
            {{#if theme_settings.footer_info_2_heading}}
                <article class="footer-info-col footer-info-col--small" data-section-type="footer-webPages">
                    <p class="footer-info-heading footer-info-heading--toggle f-bold f-size-small-mb o-h"><span class="d-inline-block halo-fadeInUp">{{theme_settings.footer_info_2_heading}}</span></p>
                    <ul class="footer-info-list">
                        {{#each (limit pages 5)}}
                            <li class="o-h"><a class="link-line d-inline-block halo-fadeInUp" href="{{url}}" data-halo-animate="2"><span>{{name}}</span></a></li>
                        {{/each}}
                        {{#if settings.gift_certificates_enabled}}
                            <li class="o-h"><a class="link-line d-inline-block halo-fadeInUp" href="{{urls.gift_certificate.purchase}}" data-halo-animate="2"><span>{{lang 'common.gift_cert'}}</span></a></li>
                        {{/if}}
                        {{#if theme_settings.show_page_sitemap}}
                            <li class="o-h"><a class="link-line d-inline-block halo-fadeInUp" href="{{urls.sitemap}}" data-halo-animate="2"><span>{{lang 'sitemap.page_title'}}</span></a></li>
                        {{/if}}
                    </ul>
                </article>
            {{/if}}
            {{#if theme_settings.footer_info_3_heading}}
                <article class="footer-info-col footer-info-col--small" data-section-type="footer-webPages">
                    <p class="footer-info-heading footer-info-heading--toggle f-bold f-size-small-mb o-h"><span class="d-inline-block halo-fadeInUp">{{theme_settings.footer_info_3_heading}}</span></p>
                    <ul class="footer-info-list">
                        {{#if theme_settings.footer_text1}}
                            <li class="o-h"><a class="link-line d-inline-block halo-fadeInUp" href="{{theme_settings.footer_link1}}" data-halo-animate="2"><span>{{theme_settings.footer_text1}}</span></a></li>
                        {{/if}}
                        {{#if theme_settings.footer_text2}}
                            <li class="o-h"><a class="link-line d-inline-block halo-fadeInUp" href="{{theme_settings.footer_link2}}" data-halo-animate="2"><span>{{theme_settings.footer_text2}}</span></a></li>
                        {{/if}}
                        {{#if theme_settings.footer_text3}}
                            <li class="o-h"><a class="link-line d-inline-block halo-fadeInUp" href="{{theme_settings.footer_link3}}" data-halo-animate="2"><span>{{theme_settings.footer_text3}}</span></a></li>
                        {{/if}}
                        {{#if theme_settings.footer_text4}}
                            <li class="o-h"><a class="link-line d-inline-block halo-fadeInUp" href="{{theme_settings.footer_link4}}" data-halo-animate="2"><span>{{theme_settings.footer_text4}}</span></a></li>
                        {{/if}}
                        {{#if theme_settings.footer_text5}}
                            <li class="o-h"><a class="link-line d-inline-block halo-fadeInUp" href="{{theme_settings.footer_link5}}" data-halo-animate="2"><span>{{theme_settings.footer_text5}}</span></a></li>
                        {{/if}}
                        {{#if theme_settings.footer_text6}}
                            <li class="o-h"><a class="link-line d-inline-block halo-fadeInUp" href="{{theme_settings.footer_link6}}" data-halo-animate="2"><span>{{theme_settings.footer_text6}}</span></a></li>
                        {{/if}}
                        {{#if theme_settings.footer_text7}}
                            <li class="o-h"><a class="link-line d-inline-block halo-fadeInUp" href="{{theme_settings.footer_link7}}" data-halo-animate="2"><span>{{theme_settings.footer_text7}}</span></a></li>
                        {{/if}}
                    </ul>
                </article>
            {{/if}}
            {{#and theme_settings.footer_info_4_heading shop_by_brand.length}}
                <article class="footer-info-col footer-info-col--small" data-section-type="footer-brands">
                    <p class="footer-info-heading footer-info-heading--toggle f-bold f-size-small-mb o-h"><span class="d-inline-block halo-fadeInUp">{{theme_settings.footer_info_4_heading}}</span></p>
                    <ul class="footer-info-list">
                        {{#each (limit shop_by_brand 5)}}
                            <li class="o-h"><a class="link-line d-inline-block halo-fadeInUp" href="{{url}}" data-halo-animate="2"><span>{{name}}</span></a></li>
                        {{/each}}
                        <li class="o-h"><a class="link-line d-inline-block halo-fadeInUp" href="{{urls.brands}}" data-halo-animate="2"><span>{{lang 'common.view_all'}}</span></a></li>
                    </ul>
                </article>
            {{/and}}
            {{#or theme_settings.footer_info_5_heading theme_settings.footer_info_5_heading}}
                <article class="footer-info-col footer-info-col--small" data-section-type="footer-social">
                    {{#if theme_settings.footer_info_5_heading}}
                        <p class="footer-info-heading p-0 f-bold m-b f-size-small-mb o-h"><span class="d-inline-block halo-fadeInUp">{{theme_settings.footer_info_5_heading}}</span></p>
                        <div class="footer-social m-b-32 o-h">
                            <div class="footer-social-wrapper halo-fadeInUp" data-halo-animate="2">
                                {{> components/common/social-links}}
                            </div>
                        </div>
                    {{/if}}
                    {{#if theme_settings.footer_info_6_heading}}
                        <p class="footer-info-heading p-0 f-bold m-b-16 f-size-small-mb o-h"><span class="d-inline-block halo-fadeInUp">{{theme_settings.footer_info_6_heading}}</span></p>
                        <div class="footer-app o-h">
                            {{#if theme_settings.footer_app_store}}
                                <a class="m-r-16 d-inline-block v-a-top halo-fadeInUp" href="{{theme_settings.footer_app_store_link}}" aria-label="App Store" data-halo-animate="2">
                                    <img class="b-r-0" src="{{cdn 'img/app-store.png'}}" alt="App Store" title="App Store">
                                </a>
                            {{/if}}
                            {{#if theme_settings.footer_google_play}}
                                <a class="d-inline-block v-a-top halo-fadeInUp" href="{{theme_settings.footer_google_play_link}}" aria-label="Google Play" data-halo-animate="2">
                                    <img class="b-r-0" src="{{cdn 'img/google-play.png'}}" alt="Google Play" title="Google Play">
                                </a>
                            {{/if}}
                        </div>
                    {{/if}}
                </article>
            {{/or}}
            {{#and theme_settings.footer_info_7_heading settings.address}}
                <article class="footer-info-col footer-info-col--small" data-section-type="storeInfo">
                    <p class="footer-info-heading p-0 f-bold m-b-16 f-size-small-mb o-h"><span class="d-inline-block halo-fadeInUp">{{theme_settings.footer_info_7_heading}}</span></p>
                    <address class="m-b-10">{{nl2br settings.address}}</address>
                    {{#if settings.phone_number}}
                        <p class="phone">{{lang 'footer.call_us' phone_number=settings.phone_number}}</p>
                    {{/if}}
                </article>
            {{/and}}
        </section>
        {{#or theme_settings.show_powered_by theme_settings.show_copyright_footer}}
            <div class="footer-copyright d-flex d-block-mb j-c-between a-i-center c-gap-20">
                <p class="powered-by d-flex a-i-center center-mb">
                    {{#if theme_settings.show_copyright_footer}}
                        <svg class="icon d-inline-block v-a-middle m-r-8"><use href="#icon-copyright"/></svg> 
                    {{/if}}
                    <span class="d-inline-block v-a-middle">{{#if theme_settings.show_copyright_footer}}{{moment format="YYYY"}} {{settings.store_name}}. {{/if}}{{#if theme_settings.show_powered_by}}{{{lang 'footer.powered_by' text=theme_settings.halo_powered_by}}}{{/if}}</span>
                </p>
                {{> components/common/payment-icons}}
            </div>
        {{/or}}
    </div>
    {{{region name="ssl_site_seal--global"}}}
</footer>
