// =============================================================================
// FOOTER (Settings)
// =============================================================================

$footer-background:                             stencilColor("footer-backgroundColor");
$footer-heading-fontColor:                      stencilColor("footer-heading-fontColor");
$footer-text-colorHover:                        stencilColor("footer_text_colorHover");
