{{#partial "page"}}
    <div class="container container--large">
        {{#if settings.show_wishlist}}
            <div class="account account--fixedLarge">
                <div class="breadcrumb-wrapper">
                    {{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}
                </div>
                <h2 class="page-heading">{{lang 'account.wishlists.heading' }}</h2>
                {{> components/account/navigation account_page='wishlists'}}
                {{> components/account/wishlist-list}}
            </div>
        {{/if}}
    </div>
{{/partial}}
{{> layout/base}}
