<div data-product-slide class="productCarousel-slide swiper-slide">
    <article
        class="card animated b-r-10
        {{#if alternate}} card--alternate{{/if}}"
        data-test="card-{{id}}"
        data-product-id="{{id}}"
        data-event-type="{{event}}"
        data-entity-id="{{id}}"
        data-position="{{position}}"
        data-name="{{name}}"
        data-product-category="
        {{#each category}}
            {{#if @last}}
                {{this}}
            {{else}}
                {{this}},
            {{/if}}
        {{/each}}"
        data-product-brand="{{brand.name}}"
        data-product-price="
        {{#or customer (unless settings.hide_price_from_guests)}}
            {{#if price.with_tax}}
                {{price.with_tax.value}}
            {{else}}
                {{price.without_tax.value}}
            {{/if}}
        {{else}}
            {{lang 'common.login_for_pricing'}}
        {{/or}}"
        data-halo-load="animation"
    >
    <div class="card-wrapper d-flex a-i-center">
        <figure class="card-figure">
            <a href="{{url}}"
                class="card-figure__link pos-relative"
                aria-label="{{> components/products/product-info}}"
                data-event-type="product-click"
            >
                <div class="card-img-container halo-fadeZoom">
                    {{> components/common/responsive-img
                        image=image
                        class="card-image w-100"
                        fallback_size=theme_settings.productgallery_size
                        lazyload=theme_settings.lazyload_mode
                        default_image=theme_settings.default_image_product
                    }}
                </div>
            </a>
        </figure>
        <div class="card-body">
            <div class="card-info">
                <a class="card-title f-root f-size-small-tb f-size-tiny-mb f-medium" aria-label="{{> components/products/product-info}}"
                href="{{url}}"
                data-event-type="product-click"
                >
                    {{name}}
                </a>
            </div>
            {{#all show_rating theme_settings.show_rating}}
                <p class="card-text" data-test-info-type="productRating">
                    <span class="rating--small">
                        {{> components/products/ratings rating_target=name rating=rating}}
                    </span>
                </p>
            {{/all}}
            <div class="card-text m-b-20 m-0-tb" data-test-info-type="price">
                {{#or customer (unless settings.hide_price_from_guests)}}
                    {{> components/products/price price=price price-range-custom=true}}
                {{else}}
                    {{> components/common/login-for-pricing}}
                {{/or}}
            </div>
            <a class="u-u u-p-u color-heading f-size-tiny d-none-tb" href="{{url}}">View Details</a>
        </div>
    </div>
    </article>
</div>
