{{#if theme_settings.featuredCate3}}
    <div class="halo-block arrow-custom-right-top featuredCategories featuredCategories3" data-halo-load="animation">
        <div class="container container-1600">
            <div class="featuredCategories__wrapper pos-relative">
                <div class="featuredCategories__item item-category-1 hover-zoom v-a-top">
                    <div class="image pos-relative o-h b-r-16">
                        <div class="featuredCategories__img w-100 d-inline-block halo-fadeZoom">
                            <img class="w-100 b-r-16" src="https://cdn11.bigcommerce.com/s-{{settings.store_hash}}/images/stencil/original/image-manager/{{theme_settings.featuredCate3_img1}}" title="{{theme_settings.featuredCate3_title1}}" alt="{{theme_settings.featuredCate3_title1}}" />
                        </div>
                        <a class="content-wrapper left-right-center j-c-center left p-0" href="{{theme_settings.featuredCate3_link1}}">
                            <div class="content content-left">
                                {{#if theme_settings.featuredCate3_subtitle1}}
                                    <span class="subtitle d-inline-block center f-size-tiny-tb f-size-mini-mb f-semibold color-black b-r-8 m-b m-b-18-tb m-b-12-mb o-h"><span class="halo-fadeInUp d-block">{{theme_settings.featuredCate3_subtitle1}}</span></span>
                                {{/if}}
                                {{#if theme_settings.featuredCate3_title1}}
                                    <h4 class="color-heading m-t-0 m-b-16 m-b-12-tb m-b-8-mb o-h"><span class="halo-fadeInUp d-block" data-halo-animate="2">{{theme_settings.featuredCate3_title1}}</span></h4>
                                {{/if}}
                                {{#if theme_settings.featuredCate3_desc1}}
                                    <p class="f-size-small-tb color-black m-b-32 m-b-tb m-b-18-mb o-h"><span class="halo-fadeInUp d-block" data-halo-animate="3">{{{theme_settings.featuredCate3_desc1}}}</span></p>
                                {{/if}}
                                {{#if theme_settings.featuredCate3_btn1}}
                                    <p class="button button--primary button--small m-b-0 o-h"><span class="halo-fadeInUp d-block" data-halo-animate="4">{{{theme_settings.featuredCate3_btn1}}}</span></p>
                                {{/if}}
                            </div>
                        </a>
                    </div>
                </div>
                <div class="featuredCategories__item item-category-2 hover-zoom v-a-top">
                    <div class="image pos-relative o-h b-r-16">
                        <div class="featuredCategories__img w-100 d-inline-block halo-fadeZoom">
                            <img class="w-100 b-r-16" src="https://cdn11.bigcommerce.com/s-{{settings.store_hash}}/images/stencil/original/image-manager/{{theme_settings.featuredCate3_img2}}" title="{{theme_settings.featuredCate3_title2}}" alt="{{theme_settings.featuredCate3_title2}}" />
                        </div>
                        <a class="content-wrapper top-bottom-center j-c-start p-0" href="{{theme_settings.featuredCate3_link2}}">
                            <div class="content">
                                {{#if theme_settings.featuredCate3_subtitle2}}
                                    <span class="subtitle d-inline-block center f-size-tiny-tb f-size-mini-mb f-semibold color-black b-r-8 m-b m-b-18-tb m-b-12-mb o-h"><span class="halo-fadeInUp d-block">{{theme_settings.featuredCate3_subtitle2}}</span></span>
                                {{/if}}
                                {{#if theme_settings.featuredCate3_title2}}
                                    <h4 class="color-heading m-t-0 m-b-16 m-b-12-tb m-b-8-mb o-h"><span class="halo-fadeInUp d-block" data-halo-animate="2">{{theme_settings.featuredCate3_title2}}</span></h4>
                                {{/if}}
                                {{#if theme_settings.featuredCate3_desc2}}
                                    <p class="f-size-small-tb color-black m-b-32 m-b-tb m-b-18-mb o-h"><span class="halo-fadeInUp d-block" data-halo-animate="3">{{{theme_settings.featuredCate3_desc2}}}</span></p>
                                {{/if}}
                                {{#if theme_settings.featuredCate3_btn2}}
                                    <p class="button button--primary button--small m-b-0 o-h"><span class="halo-fadeInUp d-block" data-halo-animate="4">{{{theme_settings.featuredCate3_btn2}}}</span></p>
                                {{/if}}
                            </div>
                        </a>
                    </div>
                </div>
                <div class="featuredCategories__item item-category-3 hover-zoom v-a-top">
                    <div class="image pos-relative o-h b-r-16">
                        <div class="featuredCategories__img w-100 d-inline-block halo-fadeZoom">
                            <img class="w-100 b-r-16" src="https://cdn11.bigcommerce.com/s-{{settings.store_hash}}/images/stencil/original/image-manager/{{theme_settings.featuredCate3_img3}}" title="{{theme_settings.featuredCate3_title3}}" alt="{{theme_settings.featuredCate3_title3}}" />
                        </div>
                        <a class="content-wrapper top-bottom-center j-c-start p-0" href="{{theme_settings.featuredCate3_link3}}">
                            <div class="content">
                                {{#if theme_settings.featuredCate3_subtitle3}}
                                    <span class="subtitle d-inline-block center f-size-tiny-tb f-size-mini-mb f-semibold color-black b-r-8 m-b m-b-18-tb m-b-12-mb o-h"><span class="halo-fadeInUp d-block">{{theme_settings.featuredCate3_subtitle3}}</span></span>
                                {{/if}}
                                {{#if theme_settings.featuredCate3_title3}}
                                    <h4 class="color-heading m-t-0 m-b-16 m-b-12-tb m-b-8-mb o-h"><span class="halo-fadeInUp d-block" data-halo-animate="2">{{theme_settings.featuredCate3_title3}}</span></h4>
                                {{/if}}
                                {{#if theme_settings.featuredCate3_desc3}}
                                    <p class="f-size-small-tb color-black m-b-32 m-b-tb m-b-18-mb o-h"><span class="halo-fadeInUp d-block" data-halo-animate="3">{{{theme_settings.featuredCate3_desc3}}}</span></p>
                                {{/if}}
                                {{#if theme_settings.featuredCate3_btn3}}
                                    <p class="button button--primary button--small m-b-0 o-h"><span class="halo-fadeInUp d-block" data-halo-animate="4">{{theme_settings.featuredCate3_btn3}}</span></p>
                                {{/if}}
                            </div>
                        </a>
                    </div>
                </div>
                <div class="featuredCategories__item item-category-4 hover-zoom v-a-top">
                    <div class="image pos-relative o-h b-r-16">
                        <div class="featuredCategories__img w-100 d-inline-block halo-fadeZoom">
                            <img class="w-100 b-r-16" src="https://cdn11.bigcommerce.com/s-{{settings.store_hash}}/images/stencil/original/image-manager/{{theme_settings.featuredCate3_img4}}" title="{{theme_settings.featuredCate3_title4}}" alt="{{theme_settings.featuredCate3_title4}}" />
                        </div>
                        <a class="content-wrapper left-right-center j-c-center left p-0" href="{{theme_settings.featuredCate3_link4}}">
                            <div class="content content-right">
                                {{#if theme_settings.featuredCate3_subtitle4}}
                                    <span class="subtitle d-inline-block center f-size-tiny-tb f-size-mini-mb f-semibold color-black b-r-8 m-b m-b-18-tb m-b-12-mb o-h"><span class="halo-fadeInUp d-block">{{theme_settings.featuredCate3_subtitle4}}</span></span>
                                {{/if}}
                                {{#if theme_settings.featuredCate3_title4}}
                                    <h4 class="color-heading m-t-0 m-b-16 m-b-12-tb m-b-8-mb o-h"><span class="halo-fadeInUp d-block" data-halo-animate="2">{{theme_settings.featuredCate3_title4}}</span></h4>
                                {{/if}}
                                {{#if theme_settings.featuredCate3_desc4}}
                                    <p class="f-size-small-tb color-black m-b-32 m-b-tb m-b-18-mb o-h"><span class="halo-fadeInUp d-block" data-halo-animate="3">{{{theme_settings.featuredCate3_desc4}}}</span></p>
                                {{/if}}
                                {{#if theme_settings.featuredCate3_btn4}}
                                    <p class="button button--primary button--small m-b-0 o-h"><span class="halo-fadeInUp d-block" data-halo-animate="4">{{theme_settings.featuredCate3_btn4}}</span></p>
                                {{/if}}
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{{region name="home_below_featured_category3"}}}
{{/if}}
