{{#if theme_settings.featuredBrands}}
    <div class="halo-block featuredBrands" data-halo-load="animation">
        <div class="container container-1400">
            <div class="halo-block-header center left-mb">
                <h2 class="title o-h">
                    <span class="text d-inline-block halo-fadeInUp">{{theme_settings.featuredBrands_title}}</span>
                </h2>
            </div>
            <div class="haloSwiper hover-opacity pos-relative p-b-48-mb o-h" data-per-view-mob="2" data-per-view-tab="3" data-per-view-des="5" data-swiper-pag-mob="true" data-rows-mob="1" data-rows-tab="4" data-rows-des="2">
                <div class="featuredBrands__wrapper swiper-wrapper disable-srollbar">
                    <div class="featuredBrands__item opacity-active item-brand item-brand-1 swiper-slide hover-zoom">
                        <div class="image o-h b-r-10">
                            <a href="{{theme_settings.featuredBrands_link1}}" class="featuredBrands__img d-inline-block halo-fadeZoom" aria-label="{{theme_settings.featuredBrands_alt1}}">
                                <img class="w-100 b-r-10" src="https://cdn11.bigcommerce.com/s-{{settings.store_hash}}/images/stencil/original/image-manager/{{theme_settings.featuredBrands_img1}}" title="{{theme_settings.featuredBrands_alt1}}" alt="{{theme_settings.featuredBrands_alt1}}" />
                            </a>
                        </div>
                    </div>
                    <div class="featuredBrands__item opacity-active item-brand item-brand-2 swiper-slide hover-zoom">
                        <div class="image o-h b-r-10">
                            <a href="{{theme_settings.featuredBrands_link2}}" class="featuredBrands__img d-inline-block halo-fadeZoom" aria-label="{{theme_settings.featuredBrands_alt2}}">
                                <img class="w-100 b-r-10" src="https://cdn11.bigcommerce.com/s-{{settings.store_hash}}/images/stencil/original/image-manager/{{theme_settings.featuredBrands_img2}}" title="{{theme_settings.featuredBrands_alt2}}" alt="{{theme_settings.featuredBrands_alt2}}" />
                            </a>
                        </div>
                    </div>
                    <div class="featuredBrands__item opacity-active item-brand item-brand-3 swiper-slide hover-zoom">
                        <div class="image o-h b-r-10">
                            <a href="{{theme_settings.featuredBrands_link3}}" class="featuredBrands__img d-inline-block halo-fadeZoom" aria-label="{{theme_settings.featuredBrands_alt3}}">
                                <img class="w-100 b-r-10" src="https://cdn11.bigcommerce.com/s-{{settings.store_hash}}/images/stencil/original/image-manager/{{theme_settings.featuredBrands_img3}}" title="{{theme_settings.featuredBrands_alt3}}" alt="{{theme_settings.featuredBrands_alt3}}" />
                            </a>
                        </div>
                    </div>
                    <div class="featuredBrands__item opacity-active item-brand item-brand-4 swiper-slide hover-zoom">
                        <div class="image o-h b-r-10">
                            <a href="{{theme_settings.featuredBrands_link4}}" class="featuredBrands__img d-inline-block halo-fadeZoom" aria-label="{{theme_settings.featuredBrands_alt4}}">
                                <img class="w-100 b-r-10" src="https://cdn11.bigcommerce.com/s-{{settings.store_hash}}/images/stencil/original/image-manager/{{theme_settings.featuredBrands_img4}}" title="{{theme_settings.featuredBrands_alt4}}" alt="{{theme_settings.featuredBrands_alt4}}" />
                            </a>
                        </div>
                    </div>
                    <div class="featuredBrands__item opacity-active item-brand item-brand-5 swiper-slide hover-zoom">
                        <div class="image o-h b-r-10">
                            <a href="{{theme_settings.featuredBrands_link5}}" class="featuredBrands__img d-inline-block halo-fadeZoom" aria-label="{{theme_settings.featuredBrands_alt5}}">
                                <img class="w-100 b-r-10" src="https://cdn11.bigcommerce.com/s-{{settings.store_hash}}/images/stencil/original/image-manager/{{theme_settings.featuredBrands_img5}}" title="{{theme_settings.featuredBrands_alt5}}" alt="{{theme_settings.featuredBrands_alt5}}" />
                            </a>
                        </div>
                    </div>
                    <div class="featuredBrands__item opacity-active item-brand item-brand-6 swiper-slide hover-zoom">
                        <div class="image o-h b-r-10">
                            <a href="{{theme_settings.featuredBrands_link6}}" class="featuredBrands__img d-inline-block halo-fadeZoom" aria-label="{{theme_settings.featuredBrands_alt6}}">
                                <img class="w-100 b-r-10" src="https://cdn11.bigcommerce.com/s-{{settings.store_hash}}/images/stencil/original/image-manager/{{theme_settings.featuredBrands_img6}}" title="{{theme_settings.featuredBrands_alt6}}" alt="{{theme_settings.featuredBrands_alt6}}" />
                            </a>
                        </div>
                    </div>
                    <div class="featuredBrands__item opacity-active item-brand item-brand-7 swiper-slide hover-zoom">
                        <div class="image o-h b-r-10">
                            <a href="{{theme_settings.featuredBrands_link7}}" class="featuredBrands__img d-inline-block halo-fadeZoom" aria-label="{{theme_settings.featuredBrands_alt7}}">
                                <img class="w-100 b-r-10" src="https://cdn11.bigcommerce.com/s-{{settings.store_hash}}/images/stencil/original/image-manager/{{theme_settings.featuredBrands_img7}}" title="{{theme_settings.featuredBrands_alt7}}" alt="{{theme_settings.featuredBrands_alt7}}" />
                            </a>
                        </div>
                    </div>
                    <div class="featuredBrands__item opacity-active item-brand item-brand-8 swiper-slide hover-zoom">
                        <div class="image o-h b-r-10">
                            <a href="{{theme_settings.featuredBrands_link8}}" class="featuredBrands__img d-inline-block halo-fadeZoom" aria-label="{{theme_settings.featuredBrands_alt8}}">
                                <img class="w-100 b-r-10" src="https://cdn11.bigcommerce.com/s-{{settings.store_hash}}/images/stencil/original/image-manager/{{theme_settings.featuredBrands_img8}}" title="{{theme_settings.featuredBrands_alt8}}" alt="{{theme_settings.featuredBrands_alt8}}" />
                            </a>
                        </div>
                    </div>
                    <div class="featuredBrands__item opacity-active item-brand item-brand-9 swiper-slide hover-zoom">
                        <div class="image o-h b-r-10">
                            <a href="{{theme_settings.featuredBrands_link9}}" class="featuredBrands__img d-inline-block halo-fadeZoom" aria-label="{{theme_settings.featuredBrands_alt9}}">
                                <img class="w-100 b-r-10" src="https://cdn11.bigcommerce.com/s-{{settings.store_hash}}/images/stencil/original/image-manager/{{theme_settings.featuredBrands_img9}}" title="{{theme_settings.featuredBrands_alt9}}" alt="{{theme_settings.featuredBrands_alt9}}" />
                            </a>
                        </div>
                    </div>
                    <div class="featuredBrands__item opacity-active item-brand item-brand-10 swiper-slide hover-zoom">
                        <div class="image o-h b-r-10">
                            <a href="{{theme_settings.featuredBrands_link10}}" class="featuredBrands__img d-inline-block halo-fadeZoom" aria-label="{{theme_settings.featuredBrands_alt10}}">
                                <img class="w-100 b-r-10" src="https://cdn11.bigcommerce.com/s-{{settings.store_hash}}/images/stencil/original/image-manager/{{theme_settings.featuredBrands_img10}}" title="{{theme_settings.featuredBrands_alt10}}" alt="{{theme_settings.featuredBrands_alt10}}" />
                            </a>
                        </div>
                    </div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </div>
    {{{region name="home_below_featured_brands"}}}
{{/if}}
