{{#if theme_settings.marquee}}
    <div class="marquee-promotion">
        <div class="marquee-promotion-list">
            <a class="marquee-promotion__item f-heading f-h4 f-bold" href="{{theme_settings.marquee_link1}}" aria-label="{{theme_settings.marquee_text1}}">
                <span>{{theme_settings.marquee_text1}}</span>
            </a>
            <a class="marquee-promotion__item f-heading f-h4 f-bold" href="{{theme_settings.marquee_link2}}" aria-label="{{theme_settings.marquee_text2}}">
                <span>{{theme_settings.marquee_text2}}</span>
            </a>
            <a class="marquee-promotion__item f-heading f-h4 f-bold" href="{{theme_settings.marquee_link3}}" aria-label="{{theme_settings.marquee_text3}}">
                <span>{{theme_settings.marquee_text3}}</span>
            </a>
        </div>
        <div class="marquee-promotion-list">
            <a class="marquee-promotion__item f-heading f-h4 f-bold" href="{{theme_settings.marquee_link1}}" aria-label="{{theme_settings.marquee_text1}}">
                <span>{{theme_settings.marquee_text1}}</span>
            </a>
            <a class="marquee-promotion__item f-heading f-h4 f-bold" href="{{theme_settings.marquee_link2}}" aria-label="{{theme_settings.marquee_text2}}">
                <span>{{theme_settings.marquee_text2}}</span>
            </a>
            <a class="marquee-promotion__item f-heading f-h4 f-bold" href="{{theme_settings.marquee_link3}}" aria-label="{{theme_settings.marquee_text3}}">
                <span>{{theme_settings.marquee_text3}}</span>
            </a>
        </div>
        <div class="marquee-promotion-list">
            <a class="marquee-promotion__item f-heading f-h4 f-bold" href="{{theme_settings.marquee_link1}}" aria-label="{{theme_settings.marquee_text1}}">
                <span>{{theme_settings.marquee_text1}}</span>
            </a>
            <a class="marquee-promotion__item f-heading f-h4 f-bold" href="{{theme_settings.marquee_link2}}" aria-label="{{theme_settings.marquee_text2}}">
                <span>{{theme_settings.marquee_text2}}</span>
            </a>
            <a class="marquee-promotion__item f-heading f-h4 f-bold" href="{{theme_settings.marquee_link3}}" aria-label="{{theme_settings.marquee_text3}}">
                <span>{{theme_settings.marquee_text3}}</span>
            </a>
        </div>
        <div class="marquee-promotion-list">
            <a class="marquee-promotion__item f-heading f-h4 f-bold" href="{{theme_settings.marquee_link1}}" aria-label="{{theme_settings.marquee_text1}}">
                <span>{{theme_settings.marquee_text1}}</span>
            </a>
            <a class="marquee-promotion__item f-heading f-h4 f-bold" href="{{theme_settings.marquee_link2}}" aria-label="{{theme_settings.marquee_text2}}">
                <span>{{theme_settings.marquee_text2}}</span>
            </a>
            <a class="marquee-promotion__item f-heading f-h4 f-bold" href="{{theme_settings.marquee_link3}}" aria-label="{{theme_settings.marquee_text3}}">
                <span>{{theme_settings.marquee_text3}}</span>
            </a>
        </div>
    </div>
    {{{region name="home_below_marquee_promotion"}}}
{{/if}}
