<div class="halo-block halo-block-product halo-block-product-tabs" data-halo-load="animation">
    <div class="container container-1600">
        {{#if title}}
            <div class="halo-block-header center o-h">
                <h2 class="title d-inline-block halo-fadeInUp">{{title}}</h2>
            </div>
        {{/if}}
        <div class="halo-productbyTabs">
            <ul class="tabs center haloCustomScrollbar-x disable-srollbar m-b-40 m-b-20-tb" data-tab role="tablist">
                {{#each categories}}
                    {{#if id '==' ../cateID}}
                        <li class="tab f-none d-inline-block is-active" role="presentation">
                            <a class="tab-title f-heading b-r-100" href="#category_{{id}}" role="tab" tabindex="0" aria-selected="true" aria-controls="category_{{id}}">
                                <span>All products</span>
                            </a>
                        </li>
                        {{#if children}}
                            {{#each (limit children 3)}}
                                <li class="tab f-none d-inline-block" role="presentation">
                                    <a class="tab-title f-heading b-r-100" href="#category_{{id}}" role="tab" tabindex="0" aria-selected="true" aria-controls="category_{{id}}">
                                        <span>{{name}}</span>
                                    </a>
                                </li>
                            {{/each}}
                        {{/if}}
                    {{/if}}
                {{/each}}
            </ul>
            <div class="tabs-contents m-0">
                {{#each categories}}
                    {{#if id '==' ../cateID}}
                        <div class="tab-content is-active" id="category_{{id}}" role="tabpanel" aria-hidden="false" data-tab-category-id="{{id}}" data-tab-category-url="{{url}}">
                            <div class="loadingOverlay"></div>
                            <section class="productCarousel haloSwiper pos-relative o-h"
                                data-list-name="Product By Tabs"
                                data-per-view-mob="{{../theme_settings.cardProd_colMob}}" 
                                data-per-view-tab="{{../theme_settings.cardProd_colTab}}" 
                                data-per-view-des="{{../theme_settings.cardProd_col}}" 
                                data-swiper-pag-mob="true" 
                                data-swiper-space-tab="20" 
                                data-swiper-space-des="30"
                                data-rows-des="2"
                            >
                                <div class="swiper-wrapper disable-srollbar">
                                    {{> components/halothemes/product/halo-product-sample}}
                                    {{> components/halothemes/product/halo-product-sample}}
                                    {{> components/halothemes/product/halo-product-sample}}
                                    {{> components/halothemes/product/halo-product-sample}}
                                    {{> components/halothemes/product/halo-product-sample}}
                                    {{> components/halothemes/product/halo-product-sample}}
                                    {{> components/halothemes/product/halo-product-sample}}
                                    {{> components/halothemes/product/halo-product-sample}}
                                </div>
                                <div class="swiper-pagination"></div>
                            </section>
                        </div>
                        {{#if children}}
                            {{#each (limit children 3)}}
                                <div class="tab-content" id="category_{{id}}" role="tabpanel" aria-hidden="true" data-tab-category-id="{{id}}" data-tab-category-url="{{url}}">
                                    <div class="loadingOverlay"></div>
                                    <section class="productCarousel haloSwiper pos-relative o-h"
                                        data-list-name="Product By Tabs"
                                        data-per-view-mob="{{../../theme_settings.cardProd_colMob}}" 
                                        data-per-view-tab="{{../../theme_settings.cardProd_colTab}}" 
                                        data-per-view-des="{{../../theme_settings.cardProd_col}}" 
                                        data-swiper-pag-mob="true" 
                                        data-swiper-space-tab="20" 
                                        data-swiper-space-des="30"
                                        data-rows-des="2"
                                    >
                                        <div class="swiper-wrapper disable-srollbar">
                                            {{> components/halothemes/product/halo-product-sample}}
                                            {{> components/halothemes/product/halo-product-sample}}
                                            {{> components/halothemes/product/halo-product-sample}}
                                            {{> components/halothemes/product/halo-product-sample}}
                                            {{> components/halothemes/product/halo-product-sample}}
                                            {{> components/halothemes/product/halo-product-sample}}
                                            {{> components/halothemes/product/halo-product-sample}}
                                            {{> components/halothemes/product/halo-product-sample}}
                                        </div>
                                        <div class="swiper-pagination"></div>
                                    </section>
                                </div>
                            {{/each}}
                        {{/if}}
                    {{/if}}
                {{/each}}
            </div>
        </div>
    </div>
</div>
{{{region name="home_below_products_tab_by_category"}}}
