{{#if theme_settings.homeProd_1 '==' 'Featured'}}
    {{> components/products/featured
        products=products.featured
        productsnew=products.new
        title=theme_settings.homeProd_1_title
        block_id="halo-product-block-1"
        block_limit=theme_settings.homeProd_limit
        block_column_mb=theme_settings.cardProd_colMob
        block_column_tb=theme_settings.cardProd_colTab
        block_column=theme_settings.cardProd_col
        block_layout=theme_settings.homeProd_1_layout
    }}
{{else if theme_settings.homeProd_1 '==' 'New'}}
    {{> components/products/new
        products=products.new
        productsnew=products.new
        title=theme_settings.homeProd_1_title
        block_id="halo-product-block-1"
        block_limit=theme_settings.homeProd_limit
        block_column_mb=theme_settings.cardProd_colMob
        block_column_tb=theme_settings.cardProd_colTab
        block_column=theme_settings.cardProd_col
        block_layout=theme_settings.homeProd_1_layout
    }}
{{else if theme_settings.homeProd_1 '==' 'Top'}}
    {{> components/products/top
        products=products.top_sellers
        productsnew=products.new
        title=theme_settings.homeProd_1_title
        block_id="halo-product-block-1"
        block_limit=theme_settings.homeProd_limit
        block_column_mb=theme_settings.cardProd_colMob
        block_column_tb=theme_settings.cardProd_colTab
        block_column=theme_settings.cardProd_col
        block_layout=theme_settings.homeProd_1_layout
    }}
{{/if}}
