{{#if theme_settings.reviewBlock}}
    <div class="halo-block arrow-custom-right-top reviewBlock" data-halo-load="animation">
        <div class="container container-1600">
            <div class="halo-block-header">
                <h2 class="title o-h">
                    <span class="text d-inline-block halo-fadeInUp">{{theme_settings.reviewBlock_title}}</span>
                </h2>
            </div>
            <div class="haloSwiper p-b-56-tb p-b-38-mb pos-relative" 
                data-auto-height="false" 
                data-rows-mob="2" 
                data-rows-tab="2" 
                data-per-view-des="2.277195" 
                data-swiper-nav-des="true" 
                data-swiper-pag-tab="true" 
                data-swiper-pag-mob="true" 
                data-swiper-space-mob="20" 
                data-swiper-space-tab="30" 
                data-swiper-space-des="40"
            >
                <div class="swiper-wrapper disable-srollbar">
                    <div class="reviewBlock__item swiper-slide">
                        <div class="content">
                            <div class="star m-b-16 m-b-12-tb c-inline o-h">
                                <span class="icon icon--ratingFull halo-fadeInUp">star</span>
                                <span class="icon icon--ratingFull halo-fadeInUp">star</span>
                                <span class="icon icon--ratingFull halo-fadeInUp">star</span>
                                <span class="icon icon--ratingFull halo-fadeInUp">star</span>
                                <span class="icon icon--ratingFull halo-fadeInUp">star</span>
                            </div>
                            <h5 class="title m-t-0 m-b-20 m-b-16-tb m-b-10-mb m-0 o-h"><span class="d-inline-block halo-fadeInUp" data-halo-animate="2">{{theme_settings.reviewBlock_text1}}</span></h5>
                            <p class="desc m-b-20 m-b-16-tb m-b-10-mb l-h-extra m-0 o-h"><span class="d-inline-block halo-fadeInUp" data-halo-animate="3">{{{theme_settings.reviewBlock_desc1}}}</span></p>
                            <p class="name f-semibold m-0 m-0 o-h"><span class="d-inline-block halo-fadeInUp" data-halo-animate="4">{{theme_settings.reviewBlock_name1}}</span></p>
                        </div>
                    </div>
                    <div class="reviewBlock__item swiper-slide">
                        <div class="content">
                            <div class="star m-b-16 m-b-12-tb c-inline o-h">
                                <span class="icon icon--ratingFull halo-fadeInUp">star</span>
                                <span class="icon icon--ratingFull halo-fadeInUp">star</span>
                                <span class="icon icon--ratingFull halo-fadeInUp">star</span>
                                <span class="icon icon--ratingFull halo-fadeInUp">star</span>
                                <span class="icon icon--ratingFull halo-fadeInUp">star</span>
                            </div>
                            <h5 class="title m-t-0 m-b-20 m-b-16-tb m-b-10-mb m-0 o-h"><span class="d-inline-block halo-fadeInUp" data-halo-animate="2">{{theme_settings.reviewBlock_text2}}</span></h5>
                            <p class="desc m-b-20 m-b-16-tb m-b-10-mb l-h-extra m-0 o-h"><span class="d-inline-block halo-fadeInUp" data-halo-animate="3">{{{theme_settings.reviewBlock_desc2}}}</span></p>
                            <p class="name f-semibold m-0 m-0 o-h"><span class="d-inline-block halo-fadeInUp" data-halo-animate="4">{{theme_settings.reviewBlock_name2}}</span></p>
                        </div>
                    </div>
                    <div class="reviewBlock__item swiper-slide">
                        <div class="content">
                            <div class="star m-b-16 m-b-12-tb c-inline o-h">
                                <span class="icon icon--ratingFull halo-fadeInUp">star</span>
                                <span class="icon icon--ratingFull halo-fadeInUp">star</span>
                                <span class="icon icon--ratingFull halo-fadeInUp">star</span>
                                <span class="icon icon--ratingFull halo-fadeInUp">star</span>
                                <span class="icon icon--ratingFull halo-fadeInUp">star</span>
                            </div>
                            <h5 class="title m-t-0 m-b-20 m-b-16-tb m-b-10-mb m-0 o-h"><span class="d-inline-block halo-fadeInUp" data-halo-animate="2">{{theme_settings.reviewBlock_text3}}</span></h5>
                            <p class="desc m-b-20 m-b-16-tb m-b-10-mb l-h-extra m-0 o-h"><span class="d-inline-block halo-fadeInUp" data-halo-animate="3">{{{theme_settings.reviewBlock_desc3}}}</span></p>
                            <p class="name f-semibold m-0 m-0 o-h"><span class="d-inline-block halo-fadeInUp" data-halo-animate="4">{{theme_settings.reviewBlock_name3}}</span></p>
                        </div>
                    </div>
                    <div class="reviewBlock__item swiper-slide">
                        <div class="content">
                            <div class="star m-b-16 m-b-12-tb c-inline o-h">
                                <span class="icon icon--ratingFull halo-fadeInUp">star</span>
                                <span class="icon icon--ratingFull halo-fadeInUp">star</span>
                                <span class="icon icon--ratingFull halo-fadeInUp">star</span>
                                <span class="icon icon--ratingFull halo-fadeInUp">star</span>
                                <span class="icon icon--ratingFull halo-fadeInUp">star</span>
                            </div>
                            <h5 class="title m-t-0 m-b-20 m-b-16-tb m-b-10-mb m-0 o-h"><span class="d-inline-block halo-fadeInUp" data-halo-animate="2">{{theme_settings.reviewBlock_text4}}</span></h5>
                            <p class="desc m-b-20 m-b-16-tb m-b-10-mb l-h-extra m-0 o-h"><span class="d-inline-block halo-fadeInUp" data-halo-animate="3">{{{theme_settings.reviewBlock_desc4}}}</span></p>
                            <p class="name f-semibold m-0 m-0 o-h"><span class="d-inline-block halo-fadeInUp" data-halo-animate="4">{{theme_settings.reviewBlock_name4}}</span></p>
                        </div>
                    </div>
                    <div class="reviewBlock__item swiper-slide">
                        <div class="content">
                            <div class="star m-b-16 m-b-12-tb c-inline o-h">
                                <span class="icon icon--ratingFull halo-fadeInUp">star</span>
                                <span class="icon icon--ratingFull halo-fadeInUp">star</span>
                                <span class="icon icon--ratingFull halo-fadeInUp">star</span>
                                <span class="icon icon--ratingFull halo-fadeInUp">star</span>
                                <span class="icon icon--ratingFull halo-fadeInUp">star</span>
                            </div>
                            <h5 class="title m-t-0 m-b-20 m-b-16-tb m-b-10-mb m-0 o-h"><span class="d-inline-block halo-fadeInUp" data-halo-animate="2">{{theme_settings.reviewBlock_text5}}</span></h5>
                            <p class="desc m-b-20 m-b-16-tb m-b-10-mb l-h-extra m-0 o-h"><span class="d-inline-block halo-fadeInUp" data-halo-animate="3">{{{theme_settings.reviewBlock_desc5}}}</span></p>
                            <p class="name f-semibold m-0 m-0 o-h"><span class="d-inline-block halo-fadeInUp" data-halo-animate="4">{{theme_settings.reviewBlock_name5}}</span></p>
                        </div>
                    </div>
                    <div class="reviewBlock__item swiper-slide">
                        <div class="content">
                            <div class="star m-b-16 m-b-12-tb c-inline o-h">
                                <span class="icon icon--ratingFull halo-fadeInUp">star</span>
                                <span class="icon icon--ratingFull halo-fadeInUp">star</span>
                                <span class="icon icon--ratingFull halo-fadeInUp">star</span>
                                <span class="icon icon--ratingFull halo-fadeInUp">star</span>
                                <span class="icon icon--ratingFull halo-fadeInUp">star</span>
                            </div>
                            <h5 class="title m-t-0 m-b-20 m-b-16-tb m-b-10-mb m-0 o-h"><span class="d-inline-block halo-fadeInUp" data-halo-animate="2">{{theme_settings.reviewBlock_text6}}</span></h5>
                            <p class="desc m-b-20 m-b-16-tb m-b-10-mb l-h-extra m-0 o-h"><span class="d-inline-block halo-fadeInUp" data-halo-animate="3">{{{theme_settings.reviewBlock_desc6}}}</span></p>
                            <p class="name f-semibold m-0 m-0 o-h"><span class="d-inline-block halo-fadeInUp" data-halo-animate="4">{{theme_settings.reviewBlock_name6}}</span></p>
                        </div>
                    </div>
                </div>
                <div class="swiper-button-prev arrow-custom">
                    <div class="icon-wrap pos-relative o-h d-flex j-c-center a-i-center w-100 h-100">
                        <i class="icon-inner icon-fr w-100 h-100">
                            <svg><use href="#icon-arrow-prev"></use></svg>
                        </i>
                        <i class="icon-inner icon-sec pos-absolute w-100 h-100">
                            <svg><use href="#icon-arrow-prev"></use></svg>
                        </i>
                    </div>
                </div>
                <div class="swiper-button-next arrow-custom">
                    <div class="icon-wrap pos-relative o-h d-flex j-c-center a-i-center w-100 h-100">
                        <i class="icon-inner icon-fr w-100 h-100">
                            <svg><use href="#icon-arrow-next"></use></svg>
                        </i>
                        <i class="icon-inner icon-sec pos-absolute w-100 h-100">
                            <svg><use href="#icon-arrow-next"></use></svg>
                        </i>
                    </div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </div>
    {{{region name="home_below_review_block"}}}
{{/if}}
