{{#if theme_settings.featuredCate2}}
    <div class="halo-block arrow-custom-right-top featuredCategories featuredCategories2" data-halo-load="animation">
        <div class="container container-1600">
            <div class="haloSwiper pos-relative" data-swiper-disable-mb="true" data-per-view-tab="2.029799" data-per-view-des="3" data-swiper-space-des="20" data-swiper-space-tab="20">
                <div class="swiper-wrapper disable-srollbar d-block-mb">
                    <div class="featuredCategories__item swiper-slide hover-zoom">
                        <div class="image pos-relative o-h b-r-20">
                            <div class="featuredCategories__img w-100 d-inline-block halo-fadeZoom">
                                <img class="w-100 b-r-20" src="https://cdn11.bigcommerce.com/s-{{settings.store_hash}}/images/stencil/original/image-manager/{{theme_settings.featuredCate2_img1}}" title="{{theme_settings.featuredCate2_title1}}" alt="{{theme_settings.featuredCate2_title1}}" />
                            </div>
                            <a class="content-wrapper top-bottom-center j-c-start p-0" href="{{theme_settings.featuredCate2_link1}}">
                                <h4 class="color-heading m-t-0 m-b-16 m-b-12-tb m-b-8-mb o-h"><span class="halo-fadeInUp d-block">{{theme_settings.featuredCate2_title1}}</span></h4>
                                <p class="f-size-small-tb color-black m-b-0 o-h"><span class="halo-fadeInUp d-block" data-halo-animate="2">{{{theme_settings.featuredCate2_desc1}}}</span></p>
                            </a>
                        </div>
                    </div>
                    <div class="featuredCategories__item swiper-slide hover-zoom m-t-20-mb">
                        <div class="image pos-relative o-h b-r-20">
                            <div class="featuredCategories__img w-100 d-inline-block halo-fadeZoom">
                                <img class="w-100 b-r-20" src="https://cdn11.bigcommerce.com/s-{{settings.store_hash}}/images/stencil/original/image-manager/{{theme_settings.featuredCate2_img2}}" title="{{theme_settings.featuredCate2_title2}}" alt="{{theme_settings.featuredCate2_title2}}" />
                            </div>
                            <a class="content-wrapper top-bottom-center j-c-end p-0" href="{{theme_settings.featuredCate2_link1}}">
                                <h4 class="color-heading m-t-0 m-b-16 m-b-12-tb m-b-8-mb o-h"><span class="halo-fadeInUp d-block">{{theme_settings.featuredCate2_title2}}</span></h4>
                                <p class="f-size-small-tb color-black m-b-0 o-h"><span class="halo-fadeInUp d-block" data-halo-animate="2">{{{theme_settings.featuredCate2_desc2}}}</span></p>
                            </a>
                        </div>
                    </div>
                    <div class="featuredCategories__item swiper-slide hover-zoom m-t-20-mb">
                        <div class="image pos-relative o-h b-r-20">
                            <div class="featuredCategories__img w-100 d-inline-block halo-fadeZoom">
                                <img class="w-100 b-r-20" src="https://cdn11.bigcommerce.com/s-{{settings.store_hash}}/images/stencil/original/image-manager/{{theme_settings.featuredCate2_img3}}" title="{{theme_settings.featuredCate2_title3}}" alt="{{theme_settings.featuredCate2_title3}}" />
                            </div>
                            <a class="content-wrapper top-bottom-center j-c-start p-0" href="{{theme_settings.featuredCate2_link1}}">
                                <h4 class="color-heading m-t-0 m-b-16 m-b-12-tb m-b-8-mb o-h"><span class="halo-fadeInUp d-block">{{theme_settings.featuredCate2_title3}}</span></h4>
                                <p class="f-size-small-tb color-black m-b-0 o-h"><span class="halo-fadeInUp d-block" data-halo-animate="2">{{{theme_settings.featuredCate2_desc3}}}</span></p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{{region name="home_below_featured_category2"}}}
{{/if}}
