<!DOCTYPE html>
<html class="no-js" lang="{{ locale_name }}">
    <head>
        <title>{{ head.title }}</title>
        {{{ resourceHints }}}
        {{{ head.meta_tags }}}
        {{{ head.config }}}
        {{#block "head"}} {{/block}}

        <link href="{{ head.favicon }}" rel="shortcut icon">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <script>
            {{!-- Change document class from no-js to js so we can detect this in css --}}
            document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
        </script>

        {{> components/common/polyfill-script }}
        <script>window.consentManagerTranslations = `{{{langJson 'consent_manager'}}}`;</script>

        {{!-- Load Lazysizes script ASAP so images will appear --}}
        <script>
            {{!-- Only load visible elements until the onload event fires, after which preload nearby elements. --}}
            window.lazySizesConfig = window.lazySizesConfig || {};
            window.lazySizesConfig.loadMode = 1;
            window.lazySizesConfig = Object.defineProperty({},"loadMode",{
                get: function() { return 1; },
                set: function(value) { / Ignore any set value / }
            });
        </script>
        <script async src="{{cdn 'assets/dist/theme-bundle.head_async.js' resourceHint='preload' as='script'}}"></script>
        
        {{getFontsCollection font-display='block'}}
        
        <script async src="{{cdn 'assets/dist/theme-bundle.font.js' resourceHint='preload' as='script'}}"></script>

        {{{stylesheet '/assets/css/theme.css'}}}

        {{{head.scripts}}}

        {{~inject 'zoomSize' theme_settings.zoom_size}}
        {{~inject 'productSize' theme_settings.product_size}}
        {{~inject 'genericError' (lang 'common.generic_error')}}
        {{~inject 'urls' urls}}
        {{~inject 'secureBaseUrl' settings.secure_base_url}}
        {{~inject 'cartId' cart_id}}
        {{~inject 'template' template}}
        {{~inject 'validationDictionaryJSON' (langJson 'validation_messages')}}
        {{~inject 'validationFallbackDictionaryJSON' (langJson 'validation_fallback_messages')}}
        {{~inject 'validationDefaultDictionaryJSON' (langJson 'validation_default_messages')}}
        {{~inject 'carouselArrowAndDotAriaLabel' (lang 'carousel.arrow_and_dot_aria_label')}}
        {{~inject 'carouselActiveDotAriaLabel' (lang 'carousel.active_dot_aria_label')}}
        {{~inject 'carouselContentAnnounceMessage' (lang 'carousel.content_announce_message')}}
        {{~inject 'themeSettings' theme_settings}}
        {{~inject 'token' settings.storefront_api.token}}
        {{~inject 'money' settings.money}}
        {{~inject 'storeHash' settings.store_hash}}
        {{~inject 'checkHidePrice' settings.hide_price_from_guests}}
        {{~inject 'customer' customer}}
        {{inject 'shippingCountryErrorMessage' (lang 'cart.shipping_estimator.empty_country_error')}}
        {{inject 'shippingProvinceErrorMessage' (lang 'cart.shipping_estimator.empty_province_error')}}
    </head>
    <body class="page-type-{{page_type}}{{#if customer}} is-login{{/if}}" data-page-type="{{page_type}}" style="--swiper-pagination-bullet-inactive-color: transparent;--swiper-pagination-color: {{theme_settings.global_bg}}; --scroll: 0">
        <svg data-src="{{cdn 'img/icon-sprite.svg'}}" class="icons-svg-sprite"></svg>

        {{#if theme_settings.preload}}
            <div class="preload-screen pos-fixed top-0 left-0 w-100v h-100v d-flex a-i-center j-c-center o-h e-none no-js-hidden">
                <div class="halo-preload">
                    <div class="loading-spinner">
                        {{#if theme_settings.preload_img}}
                            <img class="logo-loading b-r-0" src="https://cdn11.bigcommerce.com/s-{{settings.store_hash}}/images/stencil/original/image-manager/{{theme_settings.preload_img}}" title="Logo" alt="Logo" />
                        {{else}}
                            <div class="loading-bar pos-relative o-h m-t"></div>
                        {{/if}}
                    </div>
                </div>
            </div>
        {{/if}}

        <script>
            (() => {
                window.addEventListener('DOMContentLoaded', () => {
                    const links = document.querySelectorAll('a[href]');

                    links.forEach(link => {
                        link.addEventListener('click', function (event) {
                            if (link.getAttribute('href').startsWith('tel:') || link.getAttribute('href').startsWith('mailto:')) {
                                document.querySelector('.preload-screen').style.display='none';
                            }
                        });
                    });
                    setTimeout(() => {
                        document.body.classList.add('site-loaded');
                    }, 300);
                });
                window.addEventListener('beforeunload', () => {
                    document.body.classList.add('site-preload');
                });
                window.addEventListener('pageshow', (event) => {
                    if (event.persisted)
                    document.body.classList.remove('site-preload');
                });
            })();
        </script>
        

        {{> components/common/header }}
        {{> components/common/body }}
        {{> components/common/footer }}

        <div class="compare-link">
            <a href="{{urls.compare}}" class="button" data-compare-nav>{{lang 'common.compare'}}
                (<span class="countPill">0</span>)
            </a>
        </div>

        <div class="halo-background"></div>

        <script>window.__webpack_public_path__ = "{{cdn 'assets/dist/'}}";</script>
        <script>
            {{!-- Exported in app.js --}}
            function onThemeBundleMain() {
                window.stencilBootstrap("{{page_type}}", {{jsContext}}).load();

                function browserSupportsFormData() {
                    return typeof FormData !== 'undefined' 
                        && !!FormData.prototype.keys;
                }
                function loadFormDataPolyfillScript(src) {
                    var formDataPolyfillScript = document.createElement('script');
                    formDataPolyfillScript.src = src;
                    formDataPolyfillScript.onerror = function () {
                        console.error('Failed to load formData polyfill script ' + src);
                    };
                    document.body.appendChild(formDataPolyfillScript);
                }

                if (!browserSupportsFormData()) {
                    loadFormDataPolyfillScript('{{cdn 'assets/dist/theme-bundle.polyfill_form_data.js'}}');
                }
            }
            window.jsContext = JSON.parse({{ jsContext }});
        </script>
        <script async defer src="{{cdn 'assets/dist/theme-bundle.main.js' resourceHint='preload' as='script'}}" onload="onThemeBundleMain()"></script>

        {{> components/halothemes/global/halo-global}}

        {{{footer.scripts}}}
    </body>
</html>
